body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #abcdef; /* เปลี่ยนเป็นสีที่คุณต้องการ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease;
}

.title {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    animation: fadeIn 1s ease;
}
.download-btn {
    background-color: #0200FF; /* สีพื้นหลังปกติของปุ่ม */
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    animation: pulse 1.5s infinite alternate; /* ลูกเล่นที่ทำให้ปุ่มขยาย-หด */
}

.download-btn:hover {
    background-color: #52E0FF; /* สีพื้นหลังเมื่อนำเมาส์ชี้ไปบนปุ่ม */
}


@keyframes slideIn {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    to {
        transform: scale(1.1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }
}
